@font-face {
	font-family: 'Lucida-Console';
	src: url('../font/Lucida Console Regular.eot');
	src: local('☺'), url('../font/Lucida Console Regular.woff') format('woff'), url('../font/Lucida Console Regular.ttf') format('truetype'), url('../font/Lucida Console Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "default.css";
$bgColor: black;
$fontColorLight: #CCCCCC;
$borderColor: #cccccc80;
$imageBorderColor: #CCCCCC;

::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  background: $bgColor;
  margin-block-end: 10px;
}
::-webkit-scrollbar-thumb{
  background: $borderColor;
}


.wrapper{
  overflow: hidden;
  font-family: Lucida-Console, sans-serif;
  color: $fontColorLight;
  background-color: $bgColor;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
}
.header{
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;

  justify-content: space-between;
  align-items: center;
    .header__logo{
      margin-left: 10%;
      width: 300px;
    }
    .header__user{
      display: flex;
      align-items: center;
      margin-right: 25px;
      span{
        font-size: 17pt;
      }
      a{
        width: 100px;
        height: 100px;
        margin-left: 25px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          border: 2px $borderColor solid;
          border-radius: 50%;
        }
      }
    }
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  svg{
    height: 30px;
    width: 30px;
  }
  .sidebar__icons-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
      margin-bottom: 30px;
    }
  }
  .navigation__add-action>svg{
    height: 15px;
    width: 15px;
  }
}
.content{
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  max-width: 95%;
  overflow: auto;
  .content__search-line{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    .search-button{
      display: flex;
      align-items: center;
      padding-right: 6px;
      padding-bottom: 2px;
      border-bottom: 1px $borderColor solid;
      svg{
        height: 20px;
        width: 20px;
      }
    }
    #search-line{
      background-color: $bgColor;
      border: none;
      border-bottom: 1px $borderColor solid;
      color: $fontColorLight;
      font-size: 21px;
      width: 100%;
    }
    #search-line:focus{
      outline: 0;
    }
  }
  .content__sort-list{
    margin-bottom: 10px;
    svg{
      margin-left: -5px;
      margin-right: 10px;
      height: 8px;
      width: 15px; 
    }
  }
  .courses-list{
    overflow: auto;
    .course{
      width: 100%;
      border: 1px $borderColor solid;
      padding: 15px 30px 30px 30px;
      margin-bottom: 10px;
      .course__header{
        display: flex;
        h3{
          font-size: 18pt;
          font-weight: normal;
        }
        .course__available-options{
          display: flex;
          margin-left: 2%;
          .course__available-option{
            margin-left: 10px;
            svg{
              width: 30px;
              height: 30px;
            }
          }
          
        }
        
      }
      .course__content{
        display: flex;
        margin-top: 15px;
        .course__preview{
          min-height: 131px;
          min-width: 212px;
          margin-right: 20px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border: 2px $imageBorderColor solid;
            border-radius: 4%;
          }
        }
        .course__description{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .underlined{
            text-decoration: underline;
          }
        }
      }
      .add-to{
        align-self: flex-end;
        margin: 0 -10px -10px 0;
        svg{
          width: 35px;
          height: 35px;
        }
        .add-to__favorites--active{
          svg{
            path{
              fill: #CCCCCC;
            }
          }
        }
      }
    }
  }
}