.wrapper {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-areas: 
    'header header'
    'sidebar cont';
}
.header {
  padding: 10px;
  border: 1px solid black;
  grid-area: header;
}
.content {
  padding: 10px;
  border: 1px solid black;
  grid-area: cont;
}
.sidebar {
  padding: 10px;
  border: 1px solid black;
  grid-area: sidebar;
}
