@font-face {
	font-family: 'Lucida-Console';
	src: url('../font/Lucida Console Regular.eot');
	src: local('☺'), url('../font/Lucida Console Regular.woff') format('woff'), url('../font/Lucida Console Regular.ttf') format('truetype'), url('../font/Lucida Console Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "default.css";
$bgColor: black;
$fontColorLight: #CCCCCC;
$borderColor: #cccccc80;
$imageBorderColor: #CCCCCC;

::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  background: $bgColor;
  margin-block-end: 10px;
}
::-webkit-scrollbar-thumb{
  background: $borderColor;
}


body{
  font-family: Lucida-Console, sans-serif;
  color: $fontColorLight;
  background-color: $bgColor;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}
.wrapper {
  overflow: auto;
  max-width: 90%;
  margin: 0 5% 0 5%;
}
.header{
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
    .header__logo{
      margin-left: 10%;
      width: 200px;
    }
    .header__user{
      display: flex;
      align-items: center;
      cursor: pointer;
      span{
        font-size: 10pt;
      }
      a{
        width: 60px;
        height: 60px;
        margin-left: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          border: 2px $borderColor solid;
          border-radius: 50%;
        }
      }
    }
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  svg{
    height: 20px;
    width: 20px;
  }
  .sidebar__icons-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
      margin-bottom: 30px;
    }
  }
  .navigation__add-action>svg{
    height: 15px;
    width: 15px;
  }
}
.chat{
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;

  width: 100%;
  margin: 20px 0 25px 0;
  background-color: #CCCCCC;
  .chat__message-list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    background-color: $bgColor;
    .message{
      display: flex;
      padding: 5px 7px;
      width: auto;
      height: auto;
      margin: 0 0 5px 0;

      .message__avatar{
        width: 40px;
        height: 40px;
        align-self: flex-end;
        margin: 5px 0;

        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 50%;
      }
      .message__body{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        min-width: 150px;

        color: $bgColor;
        background-color: #CCCCCC;
        .body__user-name{
          font-size: 12px;
          margin: 5px 0 0 7px;
        }
        .body__text{
          font-size: 16px;
          margin: 0 7px 5px 7px ;

        }
      }
    }
  }
  .chat__input-line{
    display: flex;
    input.form__message{
      width: 100%;
    }
    button.buttons-section__send{
      margin: 0 5px 0 5px;
    }
  }

}
