@charset "UTF-8";
@import "default.css";
@font-face {
  font-family: "Lucida-Console";
  src: url("../font/Lucida Console Regular.eot");
  src: local("☺"), url("../font/Lucida Console Regular.woff") format("woff"), url("../font/Lucida Console Regular.ttf") format("truetype"), url("../font/Lucida Console Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #0A0613;
}

::-webkit-scrollbar-thumb {
  background: rgba(81, 75, 95, 0.3137254902);
}

@supports (scrollbar-color: rgba(94, 86, 112, 0.4862745098) #0A0613) {
  * {
    scrollbar-color: rgba(94, 86, 112, 0.4862745098) #0A0613;
    scrollbar-width: thin;
  }
}
body {
  font-family: Lucida-Console, sans-serif;
  color: white;
  background-color: #0A0613;
  display: flex;
  overflow: hidden;
}
body .blur-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}
body .popups__password-plate {
  background: #30293e;
  -webkit-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  border-radius: 5px;
  z-index: 2;
  flex-direction: column;
  padding: 15px;
  display: flex;
  left: calc(50% - 160px);
  width: 320px;
}
body .popups__password-plate button.exit {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .popups__password-plate .password-plate__input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid transparent;
  color: white;
  outline: none;
  width: 150px;
  transition: all 0.15s linear;
  margin-top: 15px;
}
body .popups__password-plate .password-plate__input:focus {
  border-bottom: 1px solid #5e5670;
}
body .popups__password-plate button.password-plate__join {
  align-self: end;
  padding: 3px 7px;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  transition: all 0.15s linear;
}
body .popups__password-plate button.password-plate__join:hover {
  background-color: rgba(94, 86, 112, 0.4862745098);
}
body .popups__alt-context-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 6px 17px;
  background: #0A0613;
  border: 1px solid rgba(94, 86, 112, 0.4862745098);
  border-radius: 5px;
  font-size: 12px;
  z-index: 2;
}
body .popups__alt-context-menu ul.context-menu__options li {
  display: flex;
  justify-items: center;
  cursor: pointer;
}
body .popups__alt-context-menu ul.context-menu__options li span {
  margin: 0 5px;
}
body .popups__new-room {
  background: #30293e;
  -webkit-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  border-radius: 5px;
  z-index: 2;
  left: calc(50% - 195px);
  width: 390px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}
body .popups__new-room form.new-room__form {
  display: flex;
}
body .popups__new-room form.new-room__form label.form__picture {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(81, 75, 95, 0.3137254902);
  border-radius: 5%;
}
body .popups__new-room form.new-room__form label.form__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border: 2px rgba(81, 75, 95, 0.3137254902) solid;
  border-radius: 5%;
}
body .popups__new-room form.new-room__form .form__wrapper {
  display: flex;
  flex-direction: column;
  margin: 6px 0 0 15px;
}
body .popups__new-room form.new-room__form .form__wrapper .form__title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
body .popups__new-room form.new-room__form .form__wrapper .form__title input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid transparent;
  color: white;
  outline: none;
  width: 150px;
  transition: all 0.15s linear;
  padding-left: 5px;
  margin-left: 6px;
}
body .popups__new-room form.new-room__form .form__wrapper .form__title input:focus {
  border-bottom: 1px solid #5e5670;
}
body .popups__new-room form.new-room__form .form__wrapper .form__password {
  display: flex;
  align-items: center;
}
body .popups__new-room form.new-room__form .form__wrapper .form__password input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid transparent;
  color: white;
  outline: none;
  width: 150px;
  transition: all 0.15s linear;
  padding-left: 5px;
  margin-left: 6px;
}
body .popups__new-room form.new-room__form .form__wrapper .form__password input:focus {
  border-bottom: 1px solid #5e5670;
}
body .popups__new-room button.new-room__accept {
  align-self: end;
  padding: 3px 5px;
  margin-left: auto;
  margin-bottom: -5px;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  transition: all 0.15s linear;
}
body .popups__new-room button.new-room__accept:hover {
  background-color: rgba(94, 86, 112, 0.4862745098);
}
body .popups__warning-message {
  background: #30293e;
  -webkit-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  border-radius: 5px;
  z-index: 2;
  top: 2%;
  display: flex;
  padding: 15px;
  align-items: center;
}
body .popups__warning-message svg.warning-message__sign {
  height: 50px;
  width: 50px;
}
body .popups__warning-message .warning-message__text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
body .popups__warning-message .warning-message__text .text__description {
  font-size: 13px;
}

.sidebar {
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  margin: 20px;
  background-color: #0A0613;
}
.sidebar .rooms .rooms__search-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 13px;
  width: 97%;
}
.sidebar .rooms .rooms__search-line input.search-line__input {
  width: 100%;
  background-color: rgba(94, 86, 112, 0.4862745098);
  border: 1px solid rgba(81, 75, 95, 0.3137254902);
  border-radius: 3px;
  color: white;
  outline: none;
  padding-left: 5px;
}
.sidebar .rooms .rooms__search-line button.search-line__new-room {
  margin-left: 10px;
  padding: 0 7px;
  color: white;
  font-size: 16px;
  background: rgba(94, 86, 112, 0.4862745098);
  border-radius: 3px;
}
.sidebar .rooms ul.rooms__list {
  overflow: auto;
  height: calc(100vh - 60px);
}
.sidebar .rooms ul.rooms__list li.list__room .room__content {
  margin-bottom: 15px;
  background: rgba(81, 75, 95, 0.3137254902);
  border-radius: 5px;
  width: 97%;
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
  object-fit: cover;
  object-position: 50% 50%;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content .room__middle-row {
  padding: 5px 0;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content .room__middle-row .room-header {
  font-size: 13px;
  padding-left: 6px;
}

.sidebar--locked {
  filter: blur(4px);
  pointer-events: none;
}

.content {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.content .content__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 25px;
  height: 63px;
  margin: 0 0 10px 0;
}
.content .content__header button.header__to-chats {
  display: none;
}
.content .content__header .header__logo {
  margin-top: 10px;
  width: 150px;
}
.content .content__header .header__userinfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content .content__header .header__userinfo svg {
  height: 73px;
  fill: rgba(94, 86, 112, 0.4862745098);
  z-index: -1;
  position: absolute;
  right: 0;
}
.content .content__header .header__userinfo span {
  font-size: 11px;
}
.content .content__header .header__userinfo img {
  width: 45px;
  height: 45px;
  margin: 0 -5px 0 15px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}
.content .content__chat {
  background-color: #0A0613;
  height: calc(100vh - 73px);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.content .content__chat ul.chat__message-list {
  overflow: auto;
  max-height: calc(100vh - 35px - 73px);
  background-color: #0A0613;
  display: flex;
  flex-direction: column;
}
.content .content__chat ul.chat__message-list .message {
  display: flex;
  padding: 5px 7px;
  margin: 0 0 5px 0;
}
.content .content__chat ul.chat__message-list .message .message__avatar {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin: 5px 0;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}
.content .content__chat ul.chat__message-list .message .message__body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-width: 150px;
  max-width: 400px;
  color: white;
  background-color: rgba(81, 75, 95, 0.3137254902);
}
.content .content__chat ul.chat__message-list .message .message__body .body__user-name {
  font-size: 12px;
  margin: 5px 0 0 7px;
}
.content .content__chat ul.chat__message-list .message .message__body .body__text {
  word-wrap: break-word;
  font-size: 16px;
  margin: 0 7px 5px 7px;
}
.content .content__chat ul.chat__message-list .self-message {
  align-self: flex-end;
}
.content .content__chat ul.chat__message-list .self-message .message__avatar {
  order: 2;
}
.content .content__chat ul.chat__message-list .self-message .message__body {
  order: 1;
}
.content .content__chat .chat__input-line {
  display: flex;
  height: 35px;
}
.content .content__chat .chat__input-line input.form__message {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid transparent;
  color: white;
  outline: none;
  width: 150px;
  transition: all 0.15s linear;
  width: 100%;
  background-color: rgba(81, 75, 95, 0.3137254902);
  padding-left: 7px;
}
.content .content__chat .chat__input-line input.form__message:focus {
  border-bottom: 1px solid #5e5670;
}
.content .content__chat .chat__input-line button.buttons-section__clip {
  width: 25px;
  margin: 0 5px 0 -30px;
  display: flex;
}
.content .content__chat .chat__input-line button.buttons-section__clip svg {
  margin: auto;
}
.content .content__chat .chat__no-data {
  width: 100%;
  height: calc(100vh - 73px);
  display: flex;
  background-color: #0A0613;
  justify-content: center;
  align-items: center;
}
.content .content__chat .chat__no-data span {
  margin-top: -150px;
}
.content .content__login {
  width: 100%;
  height: calc(100vh - 73px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content__login .login__userinfo {
  display: flex;
  align-items: center;
  transition: all 0.15s linear;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
}
.content .content__login .login__userinfo span {
  margin: 0 25px;
  font-size: 17px;
}
.content .content__login .login__userinfo img {
  width: 90px;
  height: 90px;
  margin: 0 -5px 0 15px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}
.content .content__login .login__userinfo:hover {
  background-color: rgba(94, 86, 112, 0.4862745098);
}
.content .content__login .login__buttons {
  margin-top: 40px;
  height: 15vh;
  display: flex;
  flex-direction: column;
}
.content .content__login .login__buttons button {
  padding: 5px 50px;
  margin-top: 15px;
  background-color: rgba(81, 75, 95, 0.3137254902);
  border-radius: 3px;
  color: white;
  transition: all 0.15s linear;
}
.content .content__login .login__buttons button:hover {
  background-color: rgba(94, 86, 112, 0.4862745098);
}

.--blur {
  filter: blur(6px);
  pointer-events: none;
}

.--input-red {
  border-bottom: 1px solid red !important;
}

.--aside-on-top {
  z-index: 1;
}

@media (max-width: 1100px) {
  .sidebar {
    min-width: 230px;
    max-width: 280px;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .content .content__header {
    height: 60px;
    width: 100%;
  }
  .content .content__header .header__userinfo svg {
    height: 60px;
    top: 0;
  }
  .content .content__header .header__userinfo img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 600px) {
  body .popups__password-plate {
    left: calc(50% - 125px);
    width: 250px;
    font-size: 13px;
  }
  body .popups__password-plate button.exit svg {
    width: 17px;
  }
  body .popups__password-plate button.password-plate__join {
    font-size: 13px;
  }
  body .popups__new-room {
    left: calc(50% - 150px);
    width: 300px;
    font-size: 13px;
  }
  body .popups__new-room form.new-room__form label.form__picture {
    width: 70px;
    height: 70px;
  }
  body .popups__new-room form.new-room__form .form__wrapper {
    margin: 0 0 0 10px;
    align-self: center;
  }
  body .popups__new-room form.new-room__form .form__wrapper .form__title svg {
    width: 17px;
  }
  body .popups__new-room form.new-room__form .form__wrapper .form__title input {
    width: 100px;
  }
  body .popups__new-room form.new-room__form .form__wrapper .form__password svg {
    width: 17px;
  }
  body .popups__new-room form.new-room__form .form__wrapper .form__password input {
    width: 100px;
  }
  body .popups__new-room button.new-room__accept {
    font-size: 12px;
    padding: 3px;
    margin-bottom: -2px;
  }
  .sidebar {
    max-width: 100%;
    margin: 70px 0 0 0;
    padding: 0 20px;
  }
  .sidebar .rooms .rooms__search-line {
    margin-bottom: 10px;
  }
  .sidebar .rooms ul.rooms__list {
    overflow: auto;
    height: calc(100vh - 122px);
  }
  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    background-color: #0A0613;
  }
  .content .content__header button.header__to-chats {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .content .content__chat {
    height: calc(100vh - 73px);
  }
  .content .content__login {
    height: 100%;
    background-color: #0A0613;
  }
}

/*# sourceMappingURL=index.css.map */
