@font-face {
	font-family: 'Lucida-Console';
	src: url('../font/Lucida Console Regular.eot');
	src: local('☺'), url('../font/Lucida Console Regular.woff') format('woff'), url('../font/Lucida Console Regular.ttf') format('truetype'), url('../font/Lucida Console Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "default.css";
$bgColor: #0A0613;
$chatBgColor: #0A0613;
$roomPlatesBgColor: #514b5f50;
$messageBgColor: #514b5f50;
$windowBgColor: #5e56707c;
$windowBgColorLight: #5e5670;
$popupBgColor: #30293e;
$fontColorLight: white;
$borderColor: #514b5f50;
$imageBorderColor: #CCCCCC;

$header-height: 73px;
$message-input-height: 35px;

::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  background: $bgColor;
}
::-webkit-scrollbar-thumb{
  background: $borderColor;
}
@supports (scrollbar-color: #5e56707c #0A0613) {
  * {
    scrollbar-color: #5e56707c #0A0613;
    scrollbar-width: thin;
  }
}
@mixin popup {
  background: $popupBgColor;
  -webkit-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 5px;
}
@mixin input {
  background-color: #ffffff00;
  border: 1px solid transparent;
  color: $fontColorLight;
  outline: none;
  width: 150px;
  transition: all .15s linear;
  &:focus {
    border-bottom: 1px solid $windowBgColorLight;
  }
}

body {
  font-family: Lucida-Console, sans-serif;
  color: $fontColorLight;
  background-color: $bgColor;
  display: flex;
  overflow: hidden;
  .blur-wrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    backdrop-filter: blur(5px);
  }
  .popups__password-plate{
    @include popup;
    flex-direction: column;
    width: 320px;
    padding: 15px;
    display: flex;
    button.exit{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .password-plate__input{
      @include input;
      margin-top: 15px;
    }
    button.password-plate__join{
      align-self: end;
      padding: 3px 7px;
      font-size: 15px;
      color: $fontColorLight;
      border-radius: 3px;
      transition: all .15s linear;
    }
    button.password-plate__join:hover{
      background-color: $windowBgColor;
    }
  }
  .popups__alt-context-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 6px 17px;
    background: $chatBgColor;
    border: 1px solid $windowBgColor;
    border-radius: 5px;
    font-size: 12px;
    ul.context-menu__options{
      li{
        display: flex;
        justify-items: center;
        span{
          margin: 0 5px;
        }
        cursor: pointer;
      }
    }
  }
  .popups__new-room{
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    @include popup;
    form.new-room__form{
      display: flex;
      label.form__picture{
        width: 100px;
        height: 100px;
        border: 1px solid $borderColor;
        border-radius: 5%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          border: 2px $borderColor solid;
          border-radius: 5%;
        }
      }
      .form__wrapper{
        display: flex;
        flex-direction: column;
        margin: 6px 0 0 15px;
        .form__title{
          display: flex;
          align-items: center;
          margin-bottom: 6px;
          input{
            @include input;
            padding-left: 5px;
            margin-left: 6px;
          }
        }
        .form__password{
          display: flex;
          align-items: center;
          input{
            @include input;
            padding-left: 5px;
            margin-left: 6px;
          }
        }
      }
    }
    button.new-room__accept{
      align-self: end;
      padding: 3px 5px;
      margin-left: auto;
      margin-bottom: -5px;
      font-size: 15px;
      color: $fontColorLight;
      border-radius: 3px;
      transition: all .15s linear;
    }
    button.new-room__accept:hover{
      background-color: $windowBgColor;
    }

  }
  .popups__warning-message{
    @include popup;
    top: 2%;
    display: flex;
    padding: 15px;
    align-items: center;
    svg.warning-message__sign{
      height: 50px;
      width: 50px;
    }
    .warning-message__text{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      .text__description{
        font-size: 13px;
      }
    }
  }
}

.sidebar{
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  margin-left: 20px;
  overflow: auto;
  .rooms{
    padding-top: 25px;
    .rooms__search-line{
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      font-size: 13px;
      width: 97%;
      input.search-line__input{
        width: 100%;
        background-color: $windowBgColor;
        border: 1px solid $borderColor;
        border-radius: 3px;
        color: $fontColorLight;
        outline: none;
        padding-left: 5px;
      }
      button.search-line__new-room{
        margin-left: 10px;
        padding: 0 7px;
        color: $fontColorLight;
        font-size: 16px;
        background: $windowBgColor;
        border-radius: 3px;
      }
    }
    ul.rooms__list{
      li.list__room{
        .room__content{
          margin-bottom: 15px;
          background: $roomPlatesBgColor;
          border-radius: 5px;
          width: 97%;
          display: flex;
          padding: 5px;
          cursor: pointer;
          img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding: 5px;
            margin-right: 5px;
            object-fit: cover;
            object-position: 50% 50%;
          }
          .room__middle-row{
            padding: 5px 0;
            .room-header{
              font-size: 13px;
              padding-left: 6px;
            }
          }
        }
      }
    }
  }
}
.sidebar--locked{
  filter: blur(4px);
  pointer-events: none;
}
.content{
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
    height: $header-height;
    //background: linear-gradient(41deg, rgba(0,0,0,0) 55%, $windowBgColor 55%, $windowBgColor 62%, rgba(0,0,0,0) 62%, rgba(0,0,0,0) 70%, $windowBgColor 70%);
    margin: 0 0 10px 0;
    .header__logo{
      margin-top: 10px;
      width: 150px;
    }
    .header__userinfo{
      display: flex;
      align-items: center;
      cursor: pointer;
      svg{
        height: 73px;
        fill: $windowBgColor;
        z-index: -1;
        position: absolute;
        right: 0;
      }
      span{
        font-size: 11px;
      }
      img{
        width: 45px;
        height: 45px;
        margin: 0 -5px 0 15px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 50%;
      }
    }
  }
  .content__chat{
    background-color: $chatBgColor;
    height: calc(100vh - $message-input-height - $header-height + 20px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    ul.chat__message-list{
      overflow: auto;
      background-color: $chatBgColor;
      display: flex;
      flex-direction: column;
      .message{
        display: flex;
        padding: 5px 7px;
        margin: 0 0 5px 0;
        .message__avatar{
          width: 40px;
          height: 40px;
          align-self: flex-end;
          margin: 5px 0;
          object-fit: cover;
          object-position: 50% 50%;
          border-radius: 50%;
        }
        .message__body{
          display: flex;
          flex-direction: column;
          margin: 0 10px;
          min-width: 150px;
          max-width: 400px;
          color: $fontColorLight;
          background-color: $messageBgColor;
          .body__user-name{
            font-size: 12px;
            margin: 5px 0 0 7px;
          }
          .body__text{
            word-wrap: break-word;
            font-size: 16px;
            margin: 0 7px 5px 7px ;
          }
        }
      }
      .self-message{
        align-self: flex-end;
        .message__avatar{
          order: 2;
        }
        .message__body{
          order: 1;
        }
      }
    }
    .chat__input-line{
      display: flex;
      margin-top: 10px;
      input.form__message{
        @include input;
        width: 100%;
        background-color: $roomPlatesBgColor;
        height: $message-input-height;
        padding-left: 7px;
      }
      button.buttons-section__clip{
        width: 25px;
        margin: 0 5px 0 -30px;
        display: flex;
        svg{
          margin: auto;
        }
      }
    }
    .chat__no-data{
      width: 100%;
      height: 100%;
      display: flex;
      background-color: $chatBgColor;
      justify-content: center;
      align-items: center;
      span{
        margin-top: -150px;
      }
    }
  }
  .content__login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login__userinfo{
      display: flex;
      align-items: center;
      transition: all .15s linear;
      border-radius: 5px;
      padding: 15px 20px;
      span{
        margin: 0 25px;
        font-size: 17px;
      }
      img{
        width: 90px;
        height: 90px;
        margin: 0 -5px 0 15px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 50%;
      }
      cursor: pointer;
    }
    .login__userinfo:hover{
      background-color: $windowBgColor;
    }
    .login__buttons{
      margin-top: 40px;
      height: 15vh;
      display: flex;
      flex-direction: column;
      button {
        padding: 5px 50px;
        margin-top: 15px;
        background-color: $messageBgColor;
        border-radius: 3px;
        color: $fontColorLight;
        transition: all .15s linear;
      }
      button:hover {
        background-color: $windowBgColor;
      }
    }
  }
}

// mods
.--input-red{
  border-bottom: 1px solid red !important;
}

