@charset "UTF-8";
@import "default.css";
@font-face {
  font-family: "Lucida-Console";
  src: url("../font/Lucida Console Regular.eot");
  src: local("☺"), url("../font/Lucida Console Regular.woff") format("woff"), url("../font/Lucida Console Regular.ttf") format("truetype"), url("../font/Lucida Console Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: black;
  margin-block-end: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(204, 204, 204, 0.5019607843);
}

.defaultInput, .rooms .room__new-room form.new-room__form .form__wrapper .form__password input, .rooms .room__new-room form.new-room__form .form__wrapper .form__title input, .chat .chat__input-line input.form__message, .popups .password-plate .password-plate__input, .popups .password-plate input.password-plate__input {
  background-color: black;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  border-right: black;
  border-left: black;
  color: #CCCCCC;
  outline: none;
}

body {
  font-family: Lucida-Console, sans-serif;
  color: #CCCCCC;
  background-color: black;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.wrapper {
  overflow: auto;
  max-width: 90%;
  margin: 0 5% 0 5%;
}

.popups {
  position: absolute;
  background: none;
  width: 100vw;
  height: 100vh;
}
.popups .password-plate {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 500px;
  padding: 15px;
  margin-left: -250px;
  visibility: hidden;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  background: black;
}
.popups .password-plate button.exit {
  position: absolute;
  top: -5px;
  right: 10px;
}
.popups .password-plate .password-plate__join {
  color: #CCCCCC;
}
.popups .shown {
  visibility: visible;
}

.back-blur {
  background: rgba(0, 0, 0, 0.5019607843);
}

.alt-context-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  background: black;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.header .header__logo {
  margin-left: 10%;
  width: 200px;
}
.header .header__user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .header__user span {
  font-size: 10pt;
}
.header .header__user a {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
.header .header__user a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border: 2px rgba(204, 204, 204, 0.5019607843) solid;
  border-radius: 50%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.sidebar svg {
  height: 20px;
  width: 20px;
}
.sidebar .sidebar__icons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .sidebar__icons-list a {
  margin-bottom: 30px;
}
.sidebar .navigation__add-action > svg {
  height: 15px;
  width: 15px;
}

.chat {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  width: 100%;
  margin: 20px 0 25px 0;
  background-color: #CCCCCC;
}
.chat .chat__message-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-color: black;
}
.chat .chat__message-list .message {
  display: flex;
  padding: 5px 7px;
  width: auto;
  height: auto;
  margin: 0 0 5px 0;
}
.chat .chat__message-list .message .message__avatar {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin: 5px 0;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}
.chat .chat__message-list .message .message__body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-width: 150px;
  color: black;
  background-color: #CCCCCC;
}
.chat .chat__message-list .message .message__body .body__user-name {
  font-size: 12px;
  margin: 5px 0 0 7px;
}
.chat .chat__message-list .message .message__body .body__text {
  font-size: 16px;
  margin: 0 7px 5px 7px;
}
.chat .chat__input-line {
  display: flex;
}
.chat .chat__input-line input.form__message {
  width: 100%;
}
.chat .chat__input-line button.buttons-section__send {
  margin: 0 5px 0 5px;
}

.rooms {
  padding-top: 50px;
}
.rooms .rooms__search-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 21px;
  width: 97%;
}
.rooms .rooms__search-line input.search-line__input {
  width: 100%;
  background-color: black;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  color: #CCCCCC;
  outline: none;
  padding-left: 5px;
}
.rooms .rooms__search-line button.search-line__new-room {
  width: 100px;
  margin-left: 10px;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  color: #CCCCCC;
  font-size: 19px;
}
.rooms .room__new-room {
  max-width: 50vw;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}
.rooms .room__new-room form.new-room__form {
  display: flex;
}
.rooms .room__new-room form.new-room__form input.form__picture {
  width: 220px;
  height: 140px;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
}
.rooms .room__new-room form.new-room__form .form__wrapper {
  display: flex;
  flex-direction: column;
  margin: 6px 0 0 6px;
}
.rooms .room__new-room form.new-room__form .form__wrapper .form__title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.rooms .room__new-room form.new-room__form .form__wrapper .form__title input {
  width: 100%;
  padding-left: 5px;
  margin-left: 6px;
}
.rooms .room__new-room form.new-room__form .form__wrapper .form__password {
  display: flex;
  align-items: center;
}
.rooms .room__new-room form.new-room__form .form__wrapper .form__password input {
  width: 100%;
  padding-left: 5px;
  margin-left: 6px;
}
.rooms .room__new-room button.new-room__accept {
  align-self: end;
  margin-left: auto;
  font-size: 20px;
  color: #CCCCCC;
}
.rooms ul.rooms__list li.list__room {
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  margin-bottom: 15px;
  width: 97%;
}
.rooms ul.rooms__list li.list__room .room__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.rooms ul.rooms__list li.list__room .room__top-row .top-row__room-header {
  font-size: 21px;
  padding-left: 6px;
}
.rooms ul.rooms__list li.list__room .room__top-row .top-row__star {
  height: 30px;
  width: 30px;
}
.rooms ul.rooms__list li.list__room .room__middle-row {
  display: flex;
  padding: 0 15px 15px 15px;
}
.rooms ul.rooms__list li.list__room .room__middle-row img {
  max-width: 220px;
  max-height: 140px;
  border: 1px solid rgba(204, 204, 204, 0.5019607843);
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}
.rooms ul.rooms__list li.list__room .room__middle-row .room__users-list {
  display: flex;
  align-items: end;
}
.rooms ul.rooms__list li.list__room .room__middle-row .room__users-list .users-list__item {
  height: 80px;
  width: 80px;
  padding: 4px;
  margin-right: 10px;
}
.rooms ul.rooms__list li.list__room .room__middle-row .room__users-list .users-list__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.rooms ul.rooms__list li.list__room .room__middle-row .room__join {
  align-self: end;
  margin-left: auto;
  font-size: 20px;
  color: #CCCCCC;
}

/*# sourceMappingURL=index.css.map */
