@charset "UTF-8";
@import "default.css";
@font-face {
  font-family: "Lucida-Console";
  src: url("../font/Lucida Console Regular.eot");
  src: local("☺"), url("../font/Lucida Console Regular.woff") format("woff"), url("../font/Lucida Console Regular.ttf") format("truetype"), url("../font/Lucida Console Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #0A0613;
  margin-block-end: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(81, 75, 95, 0.3137254902);
}

.defaultInput, .chat .chat__input-line input.form__message, .sidebar .rooms .room__new-room form.new-room__form .form__wrapper .form__password input, .sidebar .rooms .room__new-room form.new-room__form .form__wrapper .form__title input, .popups .password-plate .password-plate__input, .popups .password-plate input.password-plate__input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  outline: none;
}

body {
  font-family: Lucida-Console, sans-serif;
  color: white;
  background-color: #0A0613;
  display: grid;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}

.wrapper {
  overflow: auto;
  max-width: 90%;
  margin: 0 5% 0 5%;
}

.popups {
  position: absolute;
  background: none;
  width: 100vw;
  height: 100vh;
}
.popups .password-plate {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 500px;
  padding: 15px;
  margin-left: -250px;
  visibility: hidden;
  border: 1px solid rgba(81, 75, 95, 0.3137254902);
  background: black;
}
.popups .password-plate button.exit {
  position: absolute;
  top: -5px;
  right: 10px;
}
.popups .password-plate .password-plate__join {
  color: white;
}
.popups .shown {
  visibility: visible;
}

.back-blur {
  background: rgba(0, 0, 0, 0.5019607843);
}

.alt-context-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  border: 1px solid rgba(81, 75, 95, 0.3137254902);
  background: black;
  font-size: 12px;
}
.alt-context-menu ul.context-menu__options li {
  display: flex;
  justify-items: center;
  cursor: pointer;
}
.alt-context-menu ul.context-menu__options li span {
  margin: 0 3px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.header .header__logo {
  margin-left: 10%;
  width: 200px;
}
.header .header__user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .header__user span {
  font-size: 10pt;
}
.header .header__user a {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
.header .header__user a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border: 2px rgba(81, 75, 95, 0.3137254902) solid;
  border-radius: 50%;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
}
.sidebar .rooms {
  padding-top: 50px;
}
.sidebar .rooms .rooms__search-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 13px;
  width: 97%;
}
.sidebar .rooms .rooms__search-line input.search-line__input {
  width: 100%;
  background-color: #0A0613;
  border: 1px solid rgba(81, 75, 95, 0.3137254902);
  color: white;
  outline: none;
  padding-left: 5px;
}
.sidebar .rooms .rooms__search-line button.search-line__new-room {
  margin-left: 10px;
  padding: 0 7px;
  color: white;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.0823529412);
}
.sidebar .rooms .room__new-room {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  position: absolute;
  top: 40%;
  left: 30%;
  background: rgba(255, 255, 255, 0.0823529412);
  border-radius: 5px;
}
.sidebar .rooms .room__new-room form.new-room__form {
  display: flex;
}
.sidebar .rooms .room__new-room form.new-room__form label.form__picture {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(81, 75, 95, 0.3137254902);
}
.sidebar .rooms .room__new-room form.new-room__form label.form__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border: 2px rgba(81, 75, 95, 0.3137254902) solid;
}
.sidebar .rooms .room__new-room form.new-room__form .form__wrapper {
  display: flex;
  flex-direction: column;
  margin: 6px 0 0 15px;
}
.sidebar .rooms .room__new-room form.new-room__form .form__wrapper .form__title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.sidebar .rooms .room__new-room form.new-room__form .form__wrapper .form__title input {
  width: 100%;
  padding-left: 5px;
  margin-left: 6px;
}
.sidebar .rooms .room__new-room form.new-room__form .form__wrapper .form__password {
  display: flex;
  align-items: center;
}
.sidebar .rooms .room__new-room form.new-room__form .form__wrapper .form__password input {
  width: 100%;
  padding-left: 5px;
  margin-left: 6px;
}
.sidebar .rooms .room__new-room button.new-room__accept {
  align-self: end;
  margin-left: auto;
  margin-bottom: -9px;
  font-size: 20px;
  color: white;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content {
  margin-bottom: 15px;
  background: rgba(81, 75, 95, 0.3137254902);
  border-radius: 5px;
  width: 97%;
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
  object-fit: cover;
  object-position: 50% 50%;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content .room__middle-row {
  padding: 5px 0;
}
.sidebar .rooms ul.rooms__list li.list__room .room__content .room__middle-row .room-header {
  font-size: 13px;
  padding-left: 6px;
}

.chat {
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  width: 100%;
  margin: 20px 0 25px 0;
  background-color: #CCCCCC;
}
.chat .chat__message-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-color: #0A0613;
}
.chat .chat__message-list .message {
  display: flex;
  padding: 5px 7px;
  width: auto;
  height: auto;
  margin: 0 0 5px 0;
}
.chat .chat__message-list .message .message__avatar {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin: 5px 0;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}
.chat .chat__message-list .message .message__body {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-width: 150px;
  color: #0A0613;
  background-color: #CCCCCC;
}
.chat .chat__message-list .message .message__body .body__user-name {
  font-size: 12px;
  margin: 5px 0 0 7px;
}
.chat .chat__message-list .message .message__body .body__text {
  font-size: 16px;
  margin: 0 7px 5px 7px;
}
.chat .chat__input-line {
  display: flex;
}
.chat .chat__input-line input.form__message {
  width: 100%;
}
.chat .chat__input-line button.buttons-section__send {
  margin: 0 5px 0 5px;
}
.chat .chat__no-data {
  background-color: #0A0613;
  height: 100%;
}
.chat .chat__no-data span.no-data__message {
  position: relative;
  left: 40%;
  top: 40%;
}

/*# sourceMappingURL=index.css.map */
